<div class = "text-center padded">
  <h1>Welcome to your Task manager </h1>
  <%= link_to "View all Tasks", tasks_path, class: "btn btn-primary"  %>
  <%= link_to "Create a new task", new_task_path, class: "btn btn-primary"  %>
</div>
